<div><%= link_to @post.created_at, @post %></div>
<div><%= @post.body %></div>
<%= link_to "Delete", @post, :method => 'delete', :confirm => true %>
<hr>
<%= div_for @post.comments do |comment| %>
    <%= link_to "Delete", [comment.post, comment], :method => :delete %>
    <%= comment.created_at %>-- <%= comment.body %>
<% end %>

<%= render 'comments/form' %>
